<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.studentcatalogue">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:extractNativeLibs="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudentCatalogue">


        <activity
            android:name=".course.TotalLecturers"
            android:theme="@style/Theme.StudentCatalogue.slidrActivity">

        </activity>
        <activity android:name=".PdfViewActivity">

        </activity>
        <activity
            android:name=".lecturer.LectureSetup"
            android:parentActivityName=".Lecturer">

        </activity>
        <activity
            android:name=".lecturer.TotalStudents"
            android:parentActivityName=".Lecturer"
            android:theme="@style/Theme.StudentCatalogue.lecturer">

        </activity>
        <activity
            android:name=".Lecturer"
            android:theme="@style/Theme.StudentCatalogue.lecturer">

        </activity>
        <activity
            android:name=".signin.LecturerVerification"
            android:theme="@style/Theme.StudentCatalogue.slidrActivity">

        </activity>
        <activity
            android:name=".course.CourseEnroll"
            android:theme="@style/Theme.StudentCatalogue.slidrActivity">

        </activity>
        <activity android:name=".Scanner" />
        <activity
            android:name=".signin.StudentVerification"
            android:theme="@style/Theme.StudentCatalogue.slidrActivity" />
        <activity
            android:name=".signin.LecturerId"
            android:theme="@style/Theme.StudentCatalogue.slidrActivity" />
        <activity
            android:name=".signin.StudentId"
            android:theme="@style/Theme.StudentCatalogue.slidrActivity" />
        <activity
            android:name=".signin.LoginType"
            android:theme="@style/Theme.StudentCatalogue.slidrActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.StudentCatalogue.mainActivity" />
        <activity
            android:name=".screen.Splashscreen"
            android:theme="@style/Theme.StudentCatalogue.slidrActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.parse.SERVER_URL"
            android:value="@string/back4app_server_url" />
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/back4app_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/back4app_client_key" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>